 hr {
    color: red;
    width: 150px;
    margin-left: 559px;
    height: 100px;
    margin-bottom: 50px;
    
}
.service-container h3{
   font-family: 'Varela Round', sans-serif;
   text-align: center;
   margin-top: 20px ;

}
.service-container h3 b{
    color: #00BCD8;
}






@media only screen and (max-width: 767px) {
    hr{
        width: 100px;
       margin-left: 128px; 
    }
    .button{
        margin-left: 120px;
    }
}