.doctors{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-gap: 30px;
    padding: 40px;
    font-family: 'Varela Round', sans-serif;    

}
.doctors img{
    width: 600px;
}
.doctors h3{
    text-align: center;
    color: #00BCD8;
}
.doctors p{
    text-align: center;
}
.doc-hedr{
    text-align: center;
    font-family: 'Varela Round', sans-serif;    

}
.doc-hedr b{
    color: #00BCD8;
}

.inner{
    overflow: hidden;
}
.inner img{
    transition: all 1.5s ease;
}
.inner:hover img{
    transform: scale(1.2);
}


@media only screen and (max-width: 767px) {
    .doctors{
        display: grid;
        grid-template-columns:repeat(1,1fr)
    }
    
    .doctors img{
        width: 300px;
    }
    hr{
        margin-left: 145px;
    }

}