.contect{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.form{
    width: 500px;
    margin: 50px;
}
.input-form{
    padding: 20px;
    border-radius: 30px;
}
.text-area{
    border-radius: 30px;
}
.icon-font{
    margin-left: 200px  ;
    margin-top: 40px;
    padding: 10px 50px 10px 50px;
    border-radius: 20px;
}
.img-div{
    margin: 0;
}
.imgs{
    width: 600px;
}